<html>
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Invoice</title>
    <link
      rel="stylesheet"
      href="http://localhost:3000/static/assets/css/output.css"
    />
  </head>
  <body>
    <div class="text-3xl font-bold underline text-red-500">
      Hello world!
    </div>
    You can use any tailwindcss library classes to style your invoice !

  </body>
</html>